.content-container {
    min-height: calc(100vh - 34px);
    background: #f3cf7b;
    padding: 20px;
    align-items: center;
}

h2 {
    text-align: center;
}
  

h5 {
    text-align: center;
}

.card p {
    line-height: 4vh;
    padding: 1px;
    margin: 3px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
  }