.content-container {
    min-height: calc(100vh - 34px);
    /* background: #f3cf7b; */
    padding: 20px;
    align-items: center;
}

  
h5 {
    text-align: center;
}

.card p {
    line-height: 5vh;
    padding: 1px;
    margin: 3px;
    color: black;
    text-align: justify;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    align-items: center;
    padding: 5px;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
  }