.content-container {
    min-height: calc(100vh - 34px);
    /* background: #f3cf7b; */
    padding: 20px;
}

h2 {
    text-align: center;
}
  

p {
    font-size: 14px;
    font-family: Helvetica;
    line-height: 2vh;
    text-align: left;
    padding: 2px;
    padding-top: 3px;
    justify-content: center;
    color: white;
}

ul {
    margin-top: 1px;
    padding: 1px;
    justify-content: center;

}
li {
    font-size: 14px;
    font-family: Helvetica;
    line-height: 4vh;
    padding: 5px;
    justify-content: center;
    color: white;
}

a {
    color: blue;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  
