.content-container {
    min-height: calc(100vh - 34px);
    background: #f3cf7b;
    padding: 20px;
}

h2 {
    text-align: center;
}
  

p {
    font-size: 14px;
    font-family: Helvetica;
    line-height: 5vh;
    text-align: left;
    padding: 5px;
}

ul {
    margin-top: 5px;
    padding: 5px;
}
li {
    font-size: 14px;
    font-family: Helvetica;
    line-height: 4vh;
    padding: 5px;
}

a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  