.content-container {
    /* min-height: calc(100vh - 34px); */
    background: #f3e5f5;
    padding: 20px;
    margin-bottom: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    background: #f3e5f5;
}

.image-profile {
    max-height: 250vh;
    max-width: 100vh;
    margin: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: black;
    border-width: 1px;
 }

h2 {
    text-align: center;
}
  

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}