.content-container {
    /* min-height: calc(100vh - 34px); */
    background: #f3cf7b;
    padding: 20px;
    margin-bottom: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    background: #f3cf7b;
}


.about-container {
    display: 'flex';
    font-family: 'helvetica';
    flex-direction: 'row';
    align-items: 'flex-end';
    justify-content: 'flex-end';
    }
    

.image-profile {
    max-height: 200vh;
    max-width: 75vh;
    margin: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: black;
    border-width: 1px;
 }

h2 {
    text-align: center;
    padding: 5px;
}
  

.about-text p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    padding: 4px;
    line-height: 3vh;
}

.about-text a {
    text-align: center;
    font-size: 14px;
    line-height: 3vh;
}
