.navbar {
    background: black;
    height: 60px;
    flex-direction: row-reverse;
    
  }
  
  .navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  