.content-container {
    min-height: calc(100vh - 34px);
    background: #f3cf7b;
    padding: 20px;
}

h2 {
    text-align: center;
}
  

p {
   font-size: 18px;
   line-height: 10vh;
   font-family: helvetica;
}

.error-text {
  color: red;
  font-style: italic;
}

.form {
    margin: 20px;
    background: #f3cf7b;
    font-family: helvetica;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  