.content-container {
    min-height: calc(100vh - 34px);
    background: #f3e5f5;
    padding: 20px;
}

h2 {
    text-align: center;
}
  

p {
   font-size: 14px;
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  