.content-container {
    min-height: calc(100vh - 34px);
    background: black;
    padding: 20px;
}

h4 {
    text-align: center;
    color: white
}

p {
   font-size: 18px;
   line-height: 10vh;
   font-family: helvetica;
   color: white;
   margin-left: 20px;
}

.error-text {
  color: red;
  font-style: italic;
}

.form {
    margin: 20px;
    /* background: #f3cf7b; */
    font-family: helvetica;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 20px;
    width: 100%;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-sizing: border-box;
  }
  