@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.header {
    background-color: rgb(218, 133, 14);
    /* height: 200px; */
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
  }
  
  .header h2 {
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 12px;
  }
  